#coding:utf8

from django.contrib import admin
from .models import {% for a_model in render_data %} {{ a_model.model_name }}{% if not forloop.last %},{% endif %}{% endfor %}

{% for a_model in render_data %}
class My{{ a_model.model_name }}Admin(admin.ModelAdmin):
    """
    自定义 {{ a_model.model_name }}
    """
    # 展示表列数据
    list_display = ({% for a_column_name in a_model.column_names %}"{{a_column_name}}",{% endfor %})
    readonly_fields = ({% for a_primary_key in a_model.primary_keys %}"{{a_primary_key}}",{% endfor %})
    # 搜索栏
    search_fields = ({% for a_primary_key in a_model.primary_keys %}"{{a_primary_key}}",{% endfor %})
    # 过滤器
    list_filter = ({% for a_primary_key in a_model.primary_keys %}"{{a_primary_key}}",{% endfor %})
    # 排序
    ordering = ({% for a_primary_key in a_model.primary_keys %}"{{a_primary_key}}",{% endfor %})
    # 每页显示数据条数
    list_per_page = 10

admin.site.register({{ a_model.model_name }}, My{{ a_model.model_name }}Admin)

{% endfor %}